RewriteEngine On
RewriteBase /URBE-API-DRIVEN/front/

# 1. SI EL ARCHIVO O CARPETA EXISTE FÍSICAMENTE, CÁRGALO NORMALMENTE
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# 2. SI ES UNA RUTA DINÁMICA (COMO EL SLUG /front/urbe), ENVÍA AL INDEX
# Pero excluye explícitamente tus carpetas de recursos
RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.jpeg|\.svg|\.gif)$
RewriteCond %{REQUEST_URI} !^/URBE-API-DRIVEN/front/(dist|paginas|assets|resources)
RewriteRule ^ index.html [L]
# Si el usuario escribe /admingrobogecko, lo mandamos al login de superadmin
RewriteRule ^admingrobogecko$ superadmin_login.html [L]